* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
   
  /*html,
  body {
    height: 100%;
    margin: 0;
  }
   
  body {
    align-items: center;
    background-color: #ffd54f;
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  }
   
  .container {
    color: #333;
    margin: 0 auto;
    text-align: center;
  }
   
  h1 {
    font-weight: normal;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
  }*/
   
  .timerList {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
  }
   
  /*li span {
    display: block;
    font-size: 4.5rem;
  }*/
   
  .timerMessage {
    font-size: 4rem;
  }
   
  #timerContent {
    display: none;
    padding: 1rem;
  }
   
  .emoji {
    padding: 0 0.25rem;
  }
   
  @media all and (max-width: 768px) {
    h1, {
      font-size: 1.5rem;
    }
   
    li {
      font-size: 1.125rem;
      padding: 0.75rem;
    }
   
    li span {
      font-size: 3.375rem;
    }
  }

  .divCenter {
    margin: auto;
    width: 50%;

  }
  .center-screen {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
  }

  #group_duck_container{
    width: 20%;
    position: relative;
    float: left;
    margin: 4%;
    top: 0%;
  }

  #smaller_duck_container{
    width: 25%;
    /* position: relative; */
    /* float: right; */
    margin: 0; 
    position: relative;
    right: 0;
    top: 0%;
    animation: walking_duck 6s linear infinite;
    /* animation-delay: 2s; */
    /* transform: translate(50%, 0);  */
  }



  @keyframes walking_duck {
    0% { top: 0px; left: 70%;}
    64% {transform: scaleX(1);}
    70% {top: 0px; left: 10%; transform: scaleX(-1);}
    99% { top: 0px; left: 80%; transform: scaleX(-1);}
    100% { top: 0px; left: 100%;transform: scaleX(1);}

  }

  .bottom-left-image{
    transform-origin: bottom;
  }
  .centered-image {
    transform-origin: center center;
  }


  

/* #navi,
#infoi {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#infoi {
  z-index: 10;
} */

/* animation */


  